main.select-list
{
    width: 800px;
    overflow: hidden;
    overflow-y: auto;
}

div.card-medicamento-venda
{
    width: 90%;
    margin: 8px auto;
    background-color: rgb(43, 44, 43);
    padding: 8px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 60% 40%;
}

div.card-medicamento-venda div
{
    display: flex;
    flex-direction: column;
    color: rgb(242, 255, 249);
}

div.card-medicamento-venda div input
{
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(65, 253, 159);
    color: white;
    width: 100%;
    height: 35px;
    margin: 4px;
}

div.card-medicamento-venda div button{
    padding: 6px;
    border: none;
    border-radius: 3px;
    background-color: rgb(65, 253, 159);
    cursor: pointer;
    margin: 4px;
}

div.card-medicamento-venda div.add
{
    display: flex;
    flex-direction: row;
}
