#up-sms
{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sms-notificacao
{
    width: 260px;
    height: 400px;
    border-radius: 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #373837;
}

.header-sms-notificacao
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #555755;
    border-radius: 8px 8px 0px 0px;
    padding: 6px 15px;
}

.header-sms-notificacao img
{
    width: 25px;
    height: 25px;
}

.header-sms-notificacao span
{
    display: block;
    margin-left: 10px;
    color: #f9fff9;
}

.body-sms-notificacao
{
    position: relative;
    height: 90%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9fff9;
}